@import "src/colors.scss";

.nav-height {
  height: 65.99px;
  background-color: $teal-600;
  a {
    color: $gray-100;
  }
  .nav-img {
    height: 46px;
    width: 46px;
    border-radius: 50px;
    border: 1px solid white;
    object-fit: cover;
  }
}

.carussel-height {
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/** Animation Section */

.slide-top {
  animation: slide-top 0.5s cubic-bezier(1, 0, 0, 1) both;
}

@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) both;
  animation: slide-bottom 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
