<div class="center-form">
  <div class="form-card">
    <h1>{{ message }}</h1>
    <form
      [formGroup]="signupForm"
      class="container w-75"
      (ngSubmit)="onSubmit()"
    >
      <div class="input-container">
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            formControlName="email"
            placeholder="name@example.com"
          />
          <label for="floatingInput">E-Mail</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            formControlName="password"
            placeholder="Passwort"
            minlength="6"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div #switch class="form-floating d-none">
          <input
            *ngIf="signInBtn()"
            type="password"
            class="form-control"
            id="repeatPassword"
            formControlName="password"
            placeholder="Passwort"
            minlength="6"
          />
          <label for="floatingPassword">Repeat password</label>
        </div>
      </div>

      <div #resetPasswordContainer class="d-flex justify-content-end align-items-center">
        <p class="btn-reset mt-2">reset password</p>
      </div>
      <div class="w-100 d-flex justify-content-center mt-4">
        <button class="btn btn-color w-100" [disabled]="!signupForm.valid">
          Sign up
        </button>
      </div>
      <p class="text-center my-1 mt-4">or signup with</p>

      <div class="d-flex justify-content-between align-items-center mt-4">
        <div>Google</div>
        <div>Facebook</div>
        <div>Github</div>
      </div>
    </form>
    <div class="w-100 h-100 d-flex justify-content-center align-items-start">
      <button (click)="switchToRegister()" class="btn btn-color w-75">
        Sign in
      </button>
    </div>
  </div>
</div>
