<div class="bg-dark">
    <div class="keen-slider" #sliderRef>
        <div class="keen-slider__slide profile-card">
            <img [src]="profiles[0].picture.large">
            <h3>{{ profiles[0].name.first }}  {{ profiles[0].name.last }}</h3>
            <p>{{ profiles[0].location.city }} <br> {{ profiles[0].location.country }}</p>
            <button class="btn btn-primary w-100 rounded-0">Send request</button>
        </div>
        <div class="keen-slider__slide profile-card">
            <img [src]="profiles[1].picture.large">
            <h3>{{ profiles[1].name.first }}  {{ profiles[1].name.last }}</h3>
            <p>{{ profiles[1].location.city }} <br> {{ profiles[1].location.country }}</p>
            <button class="btn btn-primary w-100 rounded-0">Send request</button>
        </div>
        <div class="keen-slider__slide profile-card">
            <img [src]="profiles[2].picture.large">
            <h3>{{ profiles[2].name.first }}  {{ profiles[2].name.last }}</h3>
            <p>{{ profiles[2].location.city }} <br> {{ profiles[2].location.country }}</p>
            <button class="btn btn-primary w-100 rounded-0">Send request</button>
        </div>
        <div class="keen-slider__slide profile-card">
            <img [src]="profiles[3].picture.large">
            <h3>{{ profiles[3].name.first }}  {{ profiles[3].name.last }}</h3>
            <p>{{ profiles[3].location.city }} <br> {{ profiles[3].location.country }}</p>
            <button class="btn btn-primary w-100 rounded-0">Send request</button>
        </div>
        <div class="keen-slider__slide profile-card">
            <img [src]="profiles[4].picture.large">
            <h3>{{ profiles[4].name.first }}  {{ profiles[4].name.last }}</h3>
            <p>{{ profiles[4].location.city }} <br> {{ profiles[4].location.country }}</p>
            <button class="btn btn-primary w-100 rounded-0">Send request</button>
        </div>
        <div class="keen-slider__slide profile-card">
            <img [src]="profiles[5].picture.large">
            <h3>{{ profiles[5].name.first }}  {{ profiles[5].name.last }}</h3>
            <p>{{ profiles[5].location.city }} <br> {{ profiles[5].location.country }}</p>
            <button class="btn btn-primary w-100 rounded-0">Send request</button>
        </div>
        <div class="keen-slider__slide profile-card">
            <img [src]="profiles[6].picture.large">
            <h3>{{ profiles[6].name.first }}  {{ profiles[6].name.last }}</h3>
            <p>{{ profiles[6].location.city }} <br> {{ profiles[6].location.country }}</p>
            <button class="btn btn-primary w-100 rounded-0">Send request</button>
        </div>
        <div class="keen-slider__slide profile-card">
            <img [src]="profiles[7].picture.large">
            <h3>{{ profiles[7].name.first }}  {{ profiles[7].name.last }}</h3>
            <p>{{ profiles[7].location.city }} <br> {{ profiles[7].location.country }}</p>
            <button class="btn btn-primary w-100 rounded-0">Send request</button>
        </div>
        <div class="keen-slider__slide profile-card">
            <img [src]="profiles[8].picture.large">
            <h3>{{ profiles[8].name.first }}  {{ profiles[8].name.last }}</h3>
            <p>{{ profiles[8].location.city }} <br> {{ profiles[8].location.country }}</p>
            <button class="btn btn-primary w-100 rounded-0">Send request</button>
        </div>
        <div class="keen-slider__slide profile-card">
            <img [src]="profiles[9].picture.large">
            <h3>{{ profiles[9].name.first }}  {{ profiles[9].name.last }}</h3>
            <p>{{ profiles[9].location.city }} <br> {{ profiles[9].location.country }}</p>
            <button class="btn btn-primary w-100 rounded-0">Send request</button>
        </div>
        <div class="keen-slider__slide profile-card">
            <img [src]="profiles[10].picture.large">
            <h3>{{ profiles[10].name.first }}  {{ profiles[10].name.last }}</h3>
            <p>{{ profiles[10].location.city }} <br> {{ profiles[10].location.country }}</p>
            <button class="btn btn-primary w-100 rounded-0">Send request</button>
        </div>
    </div>
</div>